/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.5rem;
}

a{
    text-decoration: none;
}

.flex{
    display: flex;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
}

p{
    padding-top: 2rem;
}

.button{
    border-radius: 30px;
    padding: 1rem 1.5rem;
    margin: 20px;
}

.wave{
    display: block;
    color: #d3d3d3;
}

.upside_down{
    rotate: 0.5turn;
}

/* root */
:root{
    --background_banner : #255ee9;
    --dark_discord : #23272a;
    --backround_section: #d3d3d3;
    --main_button: #8ea1e1;
    --title_footer: #7289da;
}

/* header */
.banner{
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100px;
    margin: 0 auto;
    max-width: 1200px;
}

li > a{
    color: white;
}

header{
    background-color: var(--background_banner);
    margin-bottom: 5rem;
}

.logo{
    width: 20%;
}

.link_banner{
    flex-grow: 2;
}

li{
    list-style: none;
    flex-grow: 1;
}

.login_banner > a{
    background-color: white;
    text-decoration: none;
    color: var(--background_banner);
    flex-grow: 1;
    text-align: center;
}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}

.jumbotron_content{
    color: white;
    text-align: center;
    max-width: 850px;
    font-weight: bold;
}

.download{
    margin-top: 3rem;
}

.mac_download{
    background-color: white;
    color: var(--dark_discord);
}

.open_browser{
    background-color: var(--dark_discord);
    color: white;
}

/* main */
.main_section:nth-child(even) {
    background-color: var(--backround_section);
}

.section{
    padding: 5rem;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.large_column{
    background-size: cover;
    flex-basis: 70%;
    max-width: 1000px;
}

.small_column{
    flex-basis: 30%;
    padding-left: 2rem;
    padding-right: 2rem;
    min-width: 400px;
}

.main_section{
    align-items: center;
    justify-content: center;

}

.main_block{
    padding-top: 5rem;
    width: 1000px;
    text-align: center;
    margin-bottom: 5rem;
}

.download_main{
    max-width: 800px;
    margin: 0 auto;
}

h3{
    font-size: 2rem;
    font-weight: 800;
    display: block;
    padding: 2rem;
}

.download_main > h3{
    background-image: url(../img/stars.svg);
    background-size: cover;
}

.button_main > .button{
    background-color: var(--main_button);
    color: white;
}

/* footer */
footer{
    font-size: 1.1rem;
}
.nav_footer, .bottom_footer{
    background-color: var(--dark_discord);
}

.nav_footer{
    justify-content: center;
    color: white;
    border-bottom: 2px solid var(--title_footer);
}

.large_footer{
    max-width: 400px;
    flex-basis: 30%;
}

.title_footer{
    padding: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: var(--title_footer);
}

.flag{
    width: 2rem;
}

.social{
    padding: 1rem;
}

.sm_foote{
    flex-basis: 70%;
}

.small_footer{
    min-width: 200px;
    min-height: 500px;
}

.product, .company, .resources, .norms{
    flex-direction: column;
    align-content: space-around;
}

li{
    list-style: none;
    padding-bottom: 0.5rem;
}

.container_footer{
    min-height: 50px;
    justify-content: space-between;
}

.register{
    background-color: var(--main_button);
    color: white;
}

.bottom_footer{
    padding: 2rem 100px;
}